In [9]:
import pandas as pd
import numpy as np

In [3]:
dataset=pd.read_csv('dataset.csv')
print(dataset.shape)

(8000, 9)

In [4]:
dataset.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26.0,52.0,38.0,Sandy,Maize,37,0,0,Urea
1,29.0,52.0,45.0,Loamy,Sugarcane,12,0,36,DAP
2,34.0,65.0,62.0,Black,Cotton,7,9,30,14-35-14
3,32.0,62.0,34.0,Red,Tobacco,22,0,20,28-28
4,28.0,54.0,46.0,Clayey,Paddy,35,0,0,Urea

In [6]:
features_with_na=[features for features in dataset.columns if dataset[features].isnull().sum()>1]
## 2- step print the feature name and the percentage of missing values

for feature in features_with_na:
    print(feature, np.round(dataset[feature].isnull().mean(), 4),  ' % missing values')

In [10]:
# list of numerical variables
numerical_features = [feature for feature in dataset.columns if dataset[feature].dtypes != 'O']

print('Number of numerical variables: ', len(numerical_features))

# visualise the numerical variables
dataset[numerical_features].head()

Number of numerical variables:  6

   Temparature  Humidity  Moisture  Nitrogen  Potassium  Phosphorous
0         26.0      52.0      38.0        37          0            0
1         29.0      52.0      45.0        12          0           36
2         34.0      65.0      62.0         7          9           30
3         32.0      62.0      34.0        22          0           20
4         28.0      54.0      46.0        35          0            0

In [12]:
## Numerical variables are usually of 2 type
## 1. Continous variable and Discrete Variables

discrete_feature=[feature for feature in numerical_features if len(dataset[feature].unique())<25 ]
print("Discrete Variables Count: {}".format(len(discrete_feature)))

Discrete Variables Count: 1

In [ ]:
dataset[discrete_feature].head()

   Potassium
0          0
1          0
2          9
3          0
4          0

In [15]:
categorical_features=[feature for feature in dataset.columns if dataset[feature].dtypes=='O']
categorical_features

['Soil Type', 'Crop Type', 'Fertilizer Name']

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(dataset,dataset['Fertilizer Name'],test_size=0.1,random_state=0)

ModuleNotFoundError: No module named 'sklearn'